<h1 style="text-align: center">Feature2, Page1</h1>
<br />
<div class="row">
  <div class="col-md-3">
    <b>standard Angular "currency" pipe</b>
    <br />
    {{100 | currency:'USD':'code'}}
    <br />
    {{100 | currency:'USD':'symbol'}}
    <br />
    {{100 | currency:'USD':'symbol-narrow'}}
    <br />
    <br />
    {{100 | currency:'EUR':'code'}}
    <br />
    {{100 | currency:'EUR':'symbol'}}
    <br />
    {{100 | currency:'EUR':'symbol-narrow'}}
    <br />
    <br />
  </div>
  <div class="col-md-3">
    <b>custom "imCurrency" pipe, real-time re-render</b>
    <br />
    {{100 | imCurrency:'USD':'code'}}
    <br />
    {{100 | imCurrency:'USD':'symbol'}}
    <br />
    {{100 | imCurrency:'USD':'symbol-narrow'}}
    <br />
    <br />
    {{100 | imCurrency:'EUR':'code'}}
    <br />
    {{100 | imCurrency:'EUR':'symbol'}}
    <br />
    {{100 | imCurrency:'EUR':'symbol-narrow'}}
    <br />
    <br />
  </div>
  <div class="col-md-3">
    <b>standard Angular "date" pipe</b>
    <br />
    {{'2021-11-03' | date:'shortDate'}}
    <br />
    {{'2021-11-03' | date:'mediumDate'}}
    <br />
    {{'2021-11-03' | date:'longDate'}}
    <br />
    {{'2021-11-03' | date:'fullDate'}}
  </div>
  <div class="col-md-3">
    <b>custom "imDate" pipe, real-time re-render</b>
    <br />
    {{'2021-11-03' | imDate:'shortDate'}}
    <br />
    {{'2021-11-03' | imDate:'mediumDate'}}
    <br />
    {{'2021-11-03' | imDate:'longDate'}}
    <br />
    {{'2021-11-03' | imDate:'fullDate'}}
  </div>
</div>
