.overlays {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74,74,74,.8);
  z-index: 99999;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.mat-spinner ::ng-deep circle, .mat-spinner circle {
  stroke: #337ab7 !important;
}
