<div class="container">
  <h1 style="text-align: center">{{'Users' | translate}}</h1>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>{{'First Name' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>{{'Last Name' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.lastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef>{{'Department' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.unit}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
