<div class="container">
  <h1 style="text-align: center">{{'Cars' | translate}}</h1>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let car">{{car.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="make">
      <mat-header-cell *matHeaderCellDef>{{'Make' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let car">{{car.make}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef>{{'Model' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let car">{{car.model}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="countryOfOrigin">
      <mat-header-cell *matHeaderCellDef>{{'Country of Origin' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let car">{{car.countryOfOrigin}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let car; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
