<hr />
<h1 style="text-align: center">{{'Welcome' | translate}}</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="padding-left-md">
        <a routerLink="/feature1">Feature1</a>
      </div>
      <ul>
        <li><a routerLink="/feature1/page1">Page1</a></li>
        <li><a routerLink="/feature1/page2">Page2</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="padding-left-md">
        <a routerLink="/feature2">Feature2</a>
      </div>
      <ul>
        <li><a routerLink="/feature2/page1">Page1</a></li>
        <li><a routerLink="/feature2/page2">Page2</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ng-select #myselect (change)="langChanged($event)" [clearable]="false">
        <ng-option *ngFor="let option of options" [value]="option.id">
          {{option.name}}
        </ng-option>
      </ng-select>
    </div>
  </div>
</div>
<hr />
<app-loader></app-loader>
<router-outlet></router-outlet>
