<h1 style="text-align: center">Feature1, Page1</h1>
<a routerLink="/users/edit-user/%7B539574b2-0a09-4c9e-9671-94b5df83fd8c%7D">Redirect to User Administration app</a>
<a routerLink="/feature1/page2">Page2</a>
